# Ignore python virtual environment
venv/

# Ignore pycache files
src/scripts/__pycache__

# ignore all db files
*db

Experiments/


Failed Experiments/

data/raw data/Most Active Stocks.csv

API Keys/

/sentimentanalysis/__pycache__
