# Ignore python virtual environment
venv/

# Ignore pycache files
src/scripts/__pycache__

# ignore all db files
*db

Experiments/


Failed Experiments/

API Keys/alpha_vantage_api_key.txt

API Keys/news_api_org_api_key.txt

data/raw data/Most Active Stocks.csv
