# Ignore python virtual environment
venv/

# Ignore pycache files
src/scripts/__pycache__

# ignore all db files
*db

Experiments/


Failed Experiments/

data/raw data/Most Active Stocks.csv

API Keys/

/sentimentanalysis/__pycache__

Src/scripts/news_api_test_data.txt

Src/__pycache__/

Src/scripts/yf_news.py

Src/scripts/NewsApiTest.py

.env